.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 3rem 0 1rem;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, var(--secondary-color) 0%, transparent 50%);
  opacity: 0.1;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.footer-section {
  flex: 1;
  margin-bottom: 2rem;
  min-width: 200px;
}

.footer-section h3 {
  color: var(--tertiary-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-section p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: var(--light-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--tertiary-color);
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(173, 73, 225, 0.2);
  text-decoration: none;
}

.social-icons a:hover {
  background-color: transparent;
  transform: translateY(-3px);
}

/* Specific hover colors for each social icon */
.social-icons a[href*="linkedin"]:hover {
  color: #0077B5; /* LinkedIn blue */
}

.social-icons a[href*="twitter"]:hover {
  color: #1DA1F2; /* Twitter blue */
}

.social-icons a[href*="github"]:hover {
  color: #6e5494; /* GitHub purple */
}

.social-icons a[href^="mailto:"]:hover {
  color: #D44638; /* Gmail red color */
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 2rem;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons a, .social-icons i {
    color: var(--light-color);
  }
}